li i {
    margin-right: 7px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    line-height: 1.5;
}

.hljs-ln td {
    padding-right: 15px;
}

.hljs-ln-code:hover {
    background-color: lightgray;
}

code {
    font-size: 16px;
    line-height: 1.5;
}

td.comment-data {
    border: 1px solid gray;
    background-color: white;
    padding-left: 10px;
}

.comment-data button {
    float: right;
}

textarea.comment {
    width: 400px;
    height: 100px;
}

.comment {
    font-size: 14px;
    line-height: 1.5;
    font-family: sans-serif;
}
