{% extends 'base.html' %}

{% load static %}

{% block title %}Exegesis | {{ project.title }}/{{ dir.name }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'annotate/css/project.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <p><a href="/">Home</a></p>
  <h2><a href="{{ project.get_absolute_url }}">{{ project.title }}</a>/{{ dir.name }}</h2>
  <ul>
    {% for directory in directories %}
    <li>
      <i class="fi-folder"></i>
      <a href="{{ directory.get_absolute_url }}">{{ directory.name }}</a>
    </li>
    {% endfor %}
    {% for file in files %}
    <li>
      <i class="fi-page"></i>
      <a href="{{ file.get_absolute_url }}">
        {{ file.name }}
        {% if file.comment_set.all|length != 0 %}
        ({{ file.comment_set.all|length }} comment{{ file.comment_set.all|length|pluralize }})
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
