{% extends 'base.html' %}

{% load static %}

{% block title %}Exegesis | {{ project.name }}/{{ dir.name }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'annotate/css/project.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% include 'annotate/accountmenu.html' %}

  <h2>
    <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
    {% for parent in dir.parent_chain %}
    /
    <a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a>
    {% endfor %}
    /
    {{ dir.name }}
  </h2>
  <ul>
    {% for directory in directories %}
    <li>
      <i class="fi-folder"></i>
      <a href="{{ directory.get_absolute_url }}">{{ directory.name }}</a>
    </li>
    {% endfor %}
    {% for snippet in snippets %}
    <li>
      <i class="fi-page"></i>
      <a href="{{ snippet.get_absolute_url }}">
        {{ snippet.name }}
        {% if snippet.comment_set.all|length != 0 %}
        ({{ snippet.comment_set.all|length }} comment{{ snippet.comment_set.all|length|pluralize }})
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
