{% extends 'base.html' %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'annotate/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% include 'annotate/accountmenu.html' %}

  <h1>Exegesis</h1>

  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}

  <h2>Available projects</h2>
  <ul id="projectlist">
    {% for project in projects %}
    <li>
      <a href="{{ project.get_absolute_url }}">
        {{ project.name }} ({{ project.comment_count }} comment{{ project.comment_count|pluralize }})
      </a>
    </li>
    {% empty %}
    <li>No projects found.</li>
    {% endfor %}
  </ul>

  <h2>Import a project from GitHub</h2>
  <form action="/import" method="post">
    {% csrf_token %}
    <table>
      <tbody>
        {{ import_form.as_table }}
      </tbody>
    </table>
    <input id="importButton" type="submit" value="Import"/>
  </form>

  <h2>Create a new project</h2>
  <form action="/create" method="post">
    {% csrf_token %}
    <table>
      <tbody>
        {{ create_form.as_table }}
      </tbody>
    </table>
    <input id="createButton" type="submit" value="Create"/>
  </form>
</div>
{% endblock %}
