{% extends 'base.html' %}

{% block title %}Login | Exegesis{% endblock %}

{% block extrahead %}
<style>
#main-container {
  padding-top: 10px;
}
</style>
{% endblock %}

{% block content %}
<div class="container" id="main-container">
  {% for message in messages %}
  <p id="message-{{ forloop.counter }}">{{ message }}</p>
  {% endfor %}

  <form id="login-form" method="post" action="{% url 'annotate:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next|default_if_none:"/" }}" />
    <input type="submit" value="Log in" id="submit" />
  </form>
</div>
{% endblock %}
