{% extends 'base.html' %}

{% load static %}

{% block title %}Exegesis | {{ snippet }}{% endblock %}

{% block extrahead %}
<!-- Highlight.js for syntax highlighting -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

<script src="https://cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js"></script>

<!-- JavaScript Cookie -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script>
{% autoescape off %}
var PATH = {{ path_json }};
var PROJECT = {{ project_json }};
var USER = "{{ user.username }}";
{% endautoescape %}
</script>

<script src="{% static 'annotate/js/annotate.js' %}"></script>
<link rel="stylesheet" href="{% static 'annotate/css/snippet.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% include 'annotate/accountmenu.html' %}

  <h2>
    <a href="{{ snippet.project.get_absolute_url }}">{{ snippet.project.name}}</a>
    {% for parent in snippet.parent_chain %}
    /
    <a href="{{ parent.get_absolute_url }}">{{ parent.name }}</a>
    {% endfor %}
    /
    {{ snippet.name }}
  </h2>
  <p>Click on a line to add a comment.</p>
  <!--<pre class="line-numbers"><code id="snippet">{{ snippet.text }}</code></pre>-->
  <table>
    <tbody id="table-body">
    </tbody>
  </table>
</div>
{% endblock %}
