{% extends 'base.html' %}

{% load static %}

{% block title %}Exegesis | {{ snippet.path }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.3.0/highlightjs-line-numbers.min.js"></script>

<script src="{% static 'annotate/js/annotate.js' %}"></script>
<link rel="stylesheet" href="{% static 'annotate/css/snippet.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <p><a href="/">Home</a></p>
  <h2>{{ snippet.path }}</h2>
  <pre class="line-numbers"><code>{{ snippet.text }}</code></pre>
</div>
{% endblock %}
