{% extends 'base.html' %}

{% load static %}

{% block title %}Exegesis | {{ file }}{% endblock %}

{% block extrahead %}
<!-- Highlight.js for syntax highlighting -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

<script src="https://cdn.rawgit.com/showdownjs/showdown/1.8.6/dist/showdown.min.js"></script>

<!-- JavaScript Cookie -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<script>
{% autoescape off %}
var path = {{ path_json }};
var comments = {{ comments_json }};
var user = {{ user }};
{% endautoescape %}
</script>

<script src="{% static 'annotate/js/annotate.js' %}"></script>
<link rel="stylesheet" href="{% static 'annotate/css/project.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <p><a href="/">Home</a></p>
  <h2><a href="{{ snippet.project.get_absolute_url }}">{{ snippet.project }}</a>/{{ snippet.name }}</h2>
  <p>Click on a line to add a comment.</p>
  <pre class="line-numbers"><code id="snippet">{{ snippet.text }}</code></pre>
</div>
{% endblock %}
